*, *::after, *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 24px;
}
body {
	width: 100%;
	height: 100svh;
	overflow: hidden;
	background-color: rgb(255, 255, 255);
}
.start_screen, .game_screen {
	width: 100%;
	height: 100svh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	transition: 1s linear;
}

.start_screen, .game_screen {
	transform: translateY(0px);
	opacity: 1;
}
.start_screen.not_active {
	transform: translateY(-40px);
	opacity: 0;
}
.game_screen.not_active {
	transform: translateY(40px);
	opacity: 0;
}
.display_none {
	display: none;
}

h1 {
	font-size: 2rem;
	position: relative;
}
.wrapper_input {
	display: flex;
	justify-content: center;
	margin: 50px 0 30px;
}
.input {
	width: 450px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid gray;
	text-align: center;
	font-size: 1rem;
	padding: 1px 0 0 1px;
	margin: 0;
}
.start_button, .restart_button {
	font-size: 1rem;
	background-color: black;
	color: white;
	border: 0px;
	height: 45px;
	padding: 10px 30px;
	margin: 30px auto;
	border-radius: 25px 0 25px 0;
	transition: 0.3s cubic-bezier(0.1, -0.6, 0.2, 0);
}

:is(.start_button, .restart_button):hover {
	box-shadow: 0 0 20px black;
	transform: translateY(-3px);
}
.wrapper_output {
	margin: 30px auto;
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: center;
	padding: 20px 80px;
	transition: 0.5s;
}

.wrapper_output::before {
	content: '';
	width: 15px; 
	height: 70px;
	border-left: 2px solid black;
	border-radius: 10px;
	opacity: 0;
	transition: 0.5s;
	transform: translateY(-20px);
}
.wrapper_output::after {
	content: '';
	width: 15px; 
	height: 70px;
	border-right: 2px solid black;
	border-radius: 10px;
	opacity: 0;
	transition: 0.5s;
	transform: translateY(-20px);
}
.correct.wrapper_output::after, 
.correct.wrapper_output::before{
	opacity: 1;
	transform: translateY(10px);
}
.char {
	width: 40px;
	height: 70px;
	border: 0px;
	border-bottom: 1px solid gray;
	outline: none;
	text-align: center;
	font-size: 1rem;
	padding: 1px 0 0 1px;
	margin: 0;
	text-transform: capitalize;
}
.char:focus {
	border-bottom: 2px solid black;
}
.char.outline_correct {
	border-bottom: 2px solid black;
}
.char.outline_error {
	border-bottom: red 2px solid;
}
.char:disabled {
	color: black;
	background-color: white;
}
.congrat {
	/* margin: 30px auto; */
	display: none;
}
h2 {
	margin: 10px;
	font-size: 2rem;
}
.lifes {
	padding: 10px;
	margin: 20px auto;
	position: relative;
	display: flex;
	gap: 5px;
}
.life {
	width: 80px;
	height: 50px;
	transition: 0.5s linear;
}
.life.swap {
	transform: rotateY(-90deg);
	transform-origin: left;
	opacity: 0.7;
}


.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.game_screen .restart_button{
	position: relative;
	left: -50%;
}

.lifes {
	transform: translateY(0px);
	opacity: 1;
	transition: 0.3s cubic-bezier(0.1, -0.6, 0.2, 0);
}
.lifes:where(.swap) {
	transform: translateY(20px);
	opacity: 0;
}
.restart_button {
	transform: translateY(20px);
	opacity: 0;
}
.restart_button:where(.swap) {
	transform: translateY(0px);
	opacity: 1;
}